.divIcon-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
.divIcon-img-marker{
    width: 30px;
    height: 30px;
    background: #f6bebe;
    border-radius: 50%;
    padding: 5px;
}
.divIcon-ping-wrapper{
    position: absolute;
    top: -5px;
    transform:rotate(-330deg);
}
